// Color Primary
$color-primary-900: #2f1200;
$color-primary-800: #cc4e00;
$color-primary-700: #ff680a;
$color-primary-600: #ff751f;
$color-primary-500: #ff8133;
$color-primary-400: #ff9a5c;
$color-primary-300: #ffb485;
$color-primary-200: #ffcdad;
$color-primary-100: #ffe6d6;

// Color Secondary
$color-secondary-900: #29303d;
$color-secondary-800: #3a4455;
$color-secondary-700: #4f5d75;
$color-secondary-600: #5b6b86;
$color-secondary-500: #6d7e9c;
$color-secondary-400: #8694ac;
$color-secondary-300: #c3cad5;
$color-secondary-200: #dbdfe6;
$color-secondary-100: #e7e9ef;

// Pure Colors
$white: #fff;
$black: #000;

// Greys
$color-grey-100: #fcfcfc;
$color-grey-200: #f3f3f3;
$color-grey-300: #e3e3e3;
$color-grey-400: #d9d9d9;
$color-grey-500: #c8c5c5;
$color-grey-600: #ababab;
$color-grey-700: #888888;
$color-grey-800: #666666;
$color-grey-900: #2a2a2a;

// Danger
$color-danger-900: #5f1717;
$color-danger-800: #881a1b;
$color-danger-600: #b82020;
$color-danger-500: #dc3030;
$color-danger-300: #e36363;
$color-danger-200: #f4aaaa;
$color-danger-100: #fce8e8;

// Warning

// FONT
$font-primary: 'Ubuntu', sans-serif;
$font-display: 'Poppins', sans-serif;
$font-md: 1.6rem;
$font-lg: 1.8rem;
$font-xl: 2rem;
$font-big: 3rem;
